html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: $backgroundcolor;
  color: $white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  text-align: center;
}

// Section

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-snap-align: start;
  padding-top: 60px;
  box-sizing: border-box;

  @media screen and (min-width: 1500px) {
    padding-top: 115px;
  }

  @media screen and (min-width: 1001px) and (max-width: 1499px) {
    padding-top: 95px;
  }

  @media screen and (max-width: 1000px) {
    padding-top: 85px;
  }
}

.sub-section {
  height: 100vh;
  overflow: auto;
}

#section-welcome {
  background-color: $backgroundcolor;

  .fp-overflow {
    height: 100vh;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      height: 100vh;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 1000px) {
    min-height: 500px;
  }
}

#section-about,
#section-values,
#section-services,
#section-map,
#section-manufacturers {
  background-color: $backgroundcolor2;

  .fp-overflow {
    height: 100vh;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      height: calc(100vh - 85px);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1000px) {
    min-height: 700px;
  }

  @media screen and (max-width: 550px) {
    padding-top: 50px;
  }
}

#section-news,
#section-contact {
  background-color: $backgroundcolor2;

  .fp-overflow {
    @media screen and (max-width: 1000px) {
      // height: calc(100vh - 85px);
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 550px) {
    padding-top: 50px;
  }
}

.fp-watermark {
  display: none;
}

#fp-nav {
  display: block;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}
