html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: #191919;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  text-align: center;
}

main {
  // margin-top: 105px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-snap-align: start;
}

.sub-section {
  height: 100vh;
  overflow: auto;
}

#section1 {
  background-color: #191919;

  // .fp-overflow {
  //   height: 100vh;
  // }
}
#section2,
#section2-1,
#section3,
#section4,
#section5,
#section6 {
  background-color: #2b2b2b;
}

.fp-watermark {
  display: none;
}

#fp-nav {
  display: block;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

// .fp-overflow {
//   height: 100vh;
// }

.section {
  // height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;

  @media screen and (min-width: 1500px) {
    padding-top: 115px;
  }

  @media screen and (min-width: 1001px) and (max-width: 1499px) {
    padding-top: 95px;
  }

  @media screen and (max-width: 1000px) {
    padding-top: 85px;
    // height: calc(100vh - 85px);
    box-sizing: border-box;
  }
}

// .fp-overflow {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
// }


#section2,
#section2-1,
#section4,
#section5 {
  .fp-overflow {
    height: 100vh;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      // padding-top: 85px;
      height: calc(100vh - 85px);
      box-sizing: border-box;
    }
  }
}

#section1 {
  .fp-overflow {
    height: 100vh;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      // padding-top: 85px;
      height: 100vh;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 1000px) {
  #section1 {
    min-height: 500px;
  }

  #section2 {
    min-height: 500px;
  }

  #section2-1 {
    min-height: 680px;
  }

  #section3 {
    min-height: 700px;
  }

  #section4 {
    min-height: 640px;
  }

  #section5 {
    min-height: 500px;
  }

  #section6 {
    min-height: 570px;
  }
}
