.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  .item-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    max-width: 1400px;
    align-items: center;
    max-width: 1400px;

    span {
      font-family: $font_6;
      font-size: 1.4rem;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      color: $accentcolor2;
      border-bottom: 1px solid $accentcolor2;
      width: fit-content;

      @media screen and (max-width: 1266px) {
        font-size: 1.3rem;
      }

      @media screen and (max-width: 985px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 790px) {
        font-size: 1.1rem;
      }

      @media screen and (max-width: 550px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 440px) {
        font-size: 0.9rem;
      }
    }

    h1 {
      font-family: $font_5;
      width: 100%;
      font-size: 2.5rem;
      letter-spacing: 4px;
      padding-top: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 1.2;
      color: $white;
      padding-bottom: 15px;
      text-transform: uppercase;
      text-align: center;

      @media screen and (max-width: 1266px) {
        font-size: 2.4rem;
        padding-bottom: 15px;
      }

      @media screen and (max-width: 985px) {
        font-size: 2.3rem;
      }

      @media screen and (max-width: 790px) {
        font-size: 2.1rem;
        line-height: 1.1;
      }

      @media screen and (max-width: 550px) {
        font-size: 1.9rem;
        padding-bottom: 10px;
      }

      @media screen and (max-width: 440px) {
        font-size: 1.6rem;
      }
    }

    h3 {
      font-family: $font_6;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1;
      padding: 20px 0px;
      color: $white;
      text-transform: uppercase;
      text-align: center;

      @media screen and (max-width: 1266px) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 985px) {
        font-size: 1.1rem;
      }

      @media screen and (max-width: 790px) {
        font-size: 0.95rem;
      }

      @media screen and (max-width: 690px) {
        font-size: 1.2rem;
        padding: 10px 0px;
      }

      @media screen and (max-width: 550px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 440px) {
        font-size: 0.95rem;
      }
    }

    p {
      font-family: $font_6;
      font-size: 1.3rem;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 2;
      color: $accentcolor2;
      text-align: center;

      @media screen and (max-width: 1266px) {
        font-size: 1.25rem;
        line-height: 2;
      }

      @media screen and (max-width: 985px) {
        font-size: 1.15rem;
        line-height: 1.5;
      }

      @media screen and (max-width: 790px) {
        font-size: 1.05rem;
        line-height: 1.5;
      }

      @media screen and (max-width: 690px) {
        font-size: 1.1rem;
        line-height: 1.5;
      }

      @media screen and (max-width: 550px) {
        font-size: 1.05rem;
        line-height: 1.5;
      }

      @media screen and (max-width: 440px) {
        font-size: 0.9rem;
        line-height: 1.5;
      }
    }
  }
}

.item-container.show {
  opacity: 1;
  transform: translateY(0);
}
