// // body {
// //     font-family: sans-serif;
// //     color: #000;
// //     background: #fff;
// //     padding: 0;
// //     margin: 0;
// //     -webkit-font-smoothing: antialiased;
// //     -moz-osx-font-smoothing: grayscale;
// //     -webkit-tap-highlight-color: transparent;
// //   }
  
  .demo-wrapper {
    box-sizing: border-box;
    width: 1000px;
    max-width: calc(100% - 30px);
    margin: auto;
    padding: 30px 0 0;

    @media screen and (max-width: 800px) {
        width: 600px;
        max-width: calc(100% - 5px);
    }

  }
  
  .demo-container {
    padding: 0 0 80px;
    color: black;
  }
  
  h2 {
    text-align: center;
    font-size: 32px;
    margin: 0 0 25px;
    font-weight: normal;
    color: black;
  }
  
  @media (max-width: 900px) {
    h2 {
      font-size: 24px;
    }
  }
  
  @media (max-width: 600px) {
    h2 {
      font-size: 18px;
    }
  }
  
  .svgMap-map-wrapper {
    border-radius: 8px;
  }

  .demo-container {
    padding: 0;
  }

  /* Modal styling */
.map-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    color: black;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}


.map-popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: black;
}

.map-popup-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  height: 80%;
  overflow: hidden;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}


.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Width of the modal */
}

.close {
  color: #aaa;

  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal styles */
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }

// .modal-content {
//   background-color: #fefefe;
//   margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%; /* Could be more or less, depending on screen size */
//   max-width: 600px; /* Limit the max width of the modal */
// }

// .close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: black;
//   text-decoration: none;
//   cursor: pointer;
// }