.demo-wrapper {
  box-sizing: border-box;
  width: 1000px;
  max-width: calc(100% - 30px);
  margin: auto;
  padding: 30px 0 0;

  @media (max-width: 1300px) {
    width: 900px;
  }

  @media (max-width: 1000px) {
    width: 700px;
  }

  @media (max-width: 780px) {
    width: 600px;
  }

  @media (max-width: 680px) {
    width: 550px;
  }

  @media (max-width: 620px) {
    width: 480px;
  }

  @media (max-width: 540px) {
    width: 430px;
  }

  @media (max-width: 490px) {
    width: 400px;
  }

  @media (max-width: 450px) {
    width: 380px;
  }

  @media (max-width: 420px) {
    width: 350px;
  }

  @media (max-width: 400px) {
    width: 320px;
  }

  .svgMap-map-wrapper {
    height: 400px;

    @media (max-width: 620px) {
      height: 350px;
    }

    @media (max-width: 540px) {
      height: 300px;
    }

    @media (max-width: 400px) {
      height: 330px;
    }
  }
}

h2 {
  text-align: center;
  font-size: 32px;
  margin: 0 0 25px;
  font-weight: normal;
}

@media (max-width: 900px) {
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 18px;
  }
}
