.slides {
  .item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1400px;
    width: 90%;

    p {
      height: 100%;
      color: $white;
      @media screen and (max-width: 768px) {
        padding: 0px 5px;
      }
    }

    .slide {
      min-height: 420px;
      justify-content: space-between;
      padding: 0px 0px 20px 0px;

      @media screen and (max-width: 1280px) {
        min-height: 350px;
      }

      @media screen and (max-width: 900px) {
        min-height: 450px;
      }

      @media screen and (max-width: 800px) {
        min-height: 450px;
      }

      @media screen and (max-width: 500px) {
        min-height: 450px;
      }

      h3 {
        font-family: $font_1;
        letter-spacing: 2px;
        width: 100%;
        color: $accentcolor;
      }

      .slide-content {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        align-items: center;
        border-top: 1px solid $accentcolor;
        border-bottom: 1px solid $accentcolor;
        flex-grow: 1;
        margin: 0px 60px;
        padding: 10px 0px;

        @media screen and (max-width: 1000px) {
          margin: 0px 50px;
        }

        @media screen and (max-width: 768px) {
          border-bottom: none;
          border-top: none;
          margin: 0px 30px;
        }

        @media screen and (max-width: 550px) {
          margin: 0px 15px;
        }

        .slide-img {
          border-radius: 8px;

          // For landscape (wide) images
          width: 35%;
          height: auto;
          max-height: 30vh;

          // Adjust for portrait (tall) images
          @media (orientation: portrait) {
            width: auto;
            height: auto;
            max-height: 30vh; // Limits tall images to 50% viewport height
          }

          // Further adjustments for smaller screens
          @media (max-width: 768px) {
            width: auto;
            height: auto;
            max-height: 20vh;
          }
        }

        p {
          flex: 1;
          text-align: left;
          font-size: 1.3rem;

          @media screen and (max-width: 985px) {
            font-size: 1.15rem;
            padding: 10px;
          }

          @media screen and (max-width: 768px) {
            font-size: 1rem;
            text-align: center;
          }

          @media screen and (max-width: 550px) {
            font-size: 0.9rem;
          }

          @media screen and (max-width: 440px) {
            font-size: 0.8rem;
          }
        }

        a {
          color: $accentcolor;
          font-family: $font_2;
          font-size: 1.1rem;
          margin-top: 15px;
          display: block;

          @media screen and (max-width: 768px) {
            width: 100%;
            text-align: center;
          }

          @media screen and (max-width: 440px) {
            font-size: 0.9rem;
          }

          &:hover {
            color: $accentcolor;
          }
        }
      }
    }

    .fp-arrow.fp-prev,
    .fp-arrow.fp-next {
      position: absolute;
      transform: translateY(170%);
      cursor: pointer;

      @media screen and (max-width: 1300px) {
        transform: translateY(100%);
      }

      @media screen and (max-width: 800px) {
        transform: translateY(80%);
      }

      @media screen and (max-width: 500px) {
        transform: translateY(100%);
      }
    }

    .fp-arrow.fp-prev {
      left: 20px;
      border-width: 25px 20px 25px 0;
      color: $accentcolor;

      @media screen and (max-width: 900px) {
        left: 10px;
        border-width: 22px 16px 22px 0;
      }

      @media screen and (max-width: 800px) {
        left: 0px;
      }

      @media screen and (max-width: 500px) {
        border-width: 15px 10px 15px 0px;
      }
    }

    .fp-arrow.fp-next {
      right: 20px;
      border-width: 25px 0 25px 20px;

      @media screen and (max-width: 900px) {
        right: 10px;
        border-width: 22px 0px 22px 16px;
      }

      @media screen and (max-width: 800px) {
        right: 0px;
      }

      @media screen and (max-width: 500px) {
        border-width: 15px 0px 15px 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slide-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .slide-img {
    width: 100%;
    max-width: 300px;
  }

  .slide-content p {
    text-align: center;
  }
}
