.slides {
  .item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1400px;
    width: 90%;

    .fp-slides {
      width: 88%;

    }

    p {
      padding: 0px 20px;
      height: 100%;
    }

    .fp-arrow.fp-prev,
    .fp-arrow.fp-next {
      position: absolute;
      transform: translateY(50%);
      cursor: pointer;
    }
    .fp-arrow.fp-prev {
      left: 20px;
      border-width: 28px 20px 28px 0;
      @media screen and (max-width: 900px) {
        left: 10px;
      }
      @media screen and (max-width: 800px) {
        left: 0px;
      }
    }

    .fp-arrow.fp-next {
      right: 20px;
      border-width: 28px 0 28px 20px;
      @media screen and (max-width: 900px) {
        right: 10px;
      }
      @media screen and (max-width: 800px) {
        right: 0px;
      }
    }
  }
}

